<style>
#ipin-foot { font-family: arial,"microsoft yahei",verdana, simsun; }
#ipin-foot img { border: 0; vertical-align: top; padding: 0; margin: 0; vertical-align: baseline;}
#ipin-foot a { font: 12px; font-family: arial,"microsoft yahei",verdana, simsun; color: #333; text-decoration: none; }
#ipin-foot a:focus { outline: thin dotted; }
#ipin-foot a:active, #ipin-foot a:hover { outline: 0; }
#ipin-foot .clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
#ipin-foot .clearfix { *zoom: 1; }
#ipin-foot .content { width: 1000px; margin: 0 auto; }
#ipin-foot .page6-bg { width: 100%; height: auto !important; padding: 0; background: #fff; }

#ipin-foot .yk-new-footer { position: relative; background-color: #141d26; padding-top: 40px; padding: 40px 20px 0; }
#ipin-foot .yk-new-footer #footer { margin-top: 0; background-color: #141d26; bottom: auto; position: relative;}
#ipin-foot .yk-new-footer #footer .content { padding-bottom: 30px; border-bottom: 1px solid #454545; }
#ipin-foot .yk-new-footer #footer .left_cp { float: left; padding-top: 0; line-height: 1; }
#ipin-foot .yk-new-footer #footer .left_cp .copyright { margin-top: 10px; color: #828282; line-height: 20px; font-size: 12px; }
#ipin-foot .yk-new-footer #footer .left_cp .copyright a { color: #828282; }
#ipin-foot .yk-new-footer #footer .right_link { float: right; padding-top: 20px; }
#ipin-foot .yk-new-footer #footer .right_link a { display: block; float: left; color: #fff; font-size: 12px; margin-left: 10px; line-height: 1; padding: 6px 10px; }
#ipin-foot .yk-new-footer #footer .right_link a:hover { text-decoration: underline; }
#ipin-foot .yk-new-footer #footer .right_link a.s_wb { margin-left: 0; padding: 0; }
#ipin-foot .yk-new-footer #footer .right_link a.s_wb .wb_icon { display: inline-block; width: 27px; height: 27px; vertical-align: middle; background-image: url(//www.ipin.com/images/v3/fxlwb_icon1.png); }
#ipin-foot .yk-new-footer #footer .right_link a.t_wb { padding: 0; }
#ipin-foot .yk-new-footer #footer .right_link a.t_wb .wb_icon { display: inline-block; width: 27px; height: 27px; vertical-align: middle; background-image: url(//www.ipin.com/images/v3/ftxwb_icon1.png); }
#ipin-foot .yk-new-footer #footer .right_link .spec { background-color: #49f; }
#ipin-foot .yk-new-footer #footer .right_link .spec:hover { text-decoration: none; background-color: #2b8bff; }
#ipin-foot .yk-new-footer .ipin-intro { width: 975px; padding-left: 25px; height: 18px; margin: 0 auto; font-size: 14px; }
#ipin-foot .yk-new-footer .ipin-intro li { line-height: 18px; float: left; color: #fff; margin: 0 18px; }
#ipin-foot .yk-new-footer .ipin-intro li i { display: inline-block; vertical-align: -3px; margin-right: 8px; height: 17px; width: 11px; background-position: 0 -116px; }
#ipin-foot .yk-new-footer .ipin-txt { color: #828282; margin-top: 20px; text-align: center; font-size: 14px; }
#ipin-foot .yk-new-footer .friendLink { border-top: 0; background-color: #141d26; }
#ipin-foot .yk-new-footer .friendLink .fl_main { padding: 12px 0; font-size: 12px; color: #828282; line-height: 1.75; }
#ipin-foot .yk-new-footer .friendLink .fl_main .fl_name { color: #828282; }
#ipin-foot .yk-new-footer .friendLink .fl_main .add_fsl { color: #00aff0; }
#ipin-foot .yk-new-footer .friendLink .fl_main a { color: #828282; }


#ipin-foot .fp-section { position: relative; -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */ -moz-box-sizing: border-box; /* <=28 */ box-sizing: border-box; }
#ipin-foot .fp-section.fp-table { display: table; table-layout: fixed; width: 100%; }
#ipin-foot .fp-tableCell { display: table-cell; vertical-align: middle; width: 100%; height:393px; }
#ipin-foot .fp-auto-height.fp-section, #ipin-foot .fp-auto-height .fp-tableCell { height: auto !important; }
</style>

<div id="ipin-foot">
    <div class="section footer fp-auto-height fp-section page6-bg fp-table " data-anchor="page6">
        <div class="fp-tableCell">
            <div class="yk-new-footer">
                <div id="footer">
                    <div class="content clearfix">
                        <div class="left_cp">
                            <img src="{{ url_for('static',filename='ipin-logo-gray-bg.png' )}}" width="328" height="25" alt="">
                            <div class="copyright">
                            </div>
                        </div>
                        <div class="right_link">
                        </div>
                    </div>
                </div>
                <div class="friendLink">
                    <div class="content">
                        <div class="fl_main">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
